/*Versão 1.0 (simples). Deve se fazer as imagens, e responsividade para mobile*/

*{margin: 0; padding: 0; box-sizing: border-box; font-family: "Inter", sans-serif; color: white;}

body{
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

header{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    padding: 1.5rem;
}

main{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

footer{
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
}

p{font-size: 20px;}
.img1{width: 100%;height: 15rem;background-color: antiquewhite;margin: 1rem;}
.apresentacao{width: 100%; display: flex;}
.options{display: flex;flex-direction: row;justify-content: space-between;}
.funcionalidades{display: flex;justify-content: space-evenly;margin-top: 1.5rem;}

.card{
    width: 40rem;
    display: flex;
    flex-direction: row;
    border: 3px solid #9942eb;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.btn{padding: 1rem;font-weight: bold;font-size: 16px;border-radius: 20px;border: 2px solid black; margin-left: 2rem;}
h1{font-size: 50px;font-family: "Silkscreen", sans-serif;color: white;}
.f1{font-size: 40px; font-weight: bold; width: 35%; justify-self: flex-end; color: white;}
.f2{width: 90%; margin: 2rem; text-align: center;}
.f{width: 30%;word-break: break;margin: 1.5rem;}

h3{
    font-size: 30px; 
    font-weight: bold;
    background-color: #9942eb67; 
    width: 100%; 
    height: fit-content; 
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img{background-color: antiquewhite;width: 100%;height: 90%;margin: 2rem;}
.cont{display: flex;width: 100%;height: 100%;}
.banner{width: 100%; height: 30rem; background-color: antiquewhite;}
#btnEntrar{color: #9942eb; border-color: #9942eb;}
#btnEntrar:hover{color: #000000; border-color: #9942eb; background-color: #9942eb;}
#btnCadastro{background-color: #9942eb; color: black; border-color: black;}
#btnCadastro:hover{background-color: #3e0770; color: #ffffff; border-color: #ffffff;}