/*link para uso da fonte*/
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

*{font-family: "Lexend Deca", sans-serif; margin: 0; padding: 0; box-sizing: border-box;}
body{width: 100vw; min-height: 100vh; display: flex; flex-direction: column;}
main{flex: 1;}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}